body {
    background-color: #eeeeee;
}

.main-visual {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.title-wrapper{
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.header-logo{
    margin-bottom: 10px;
}


.main-visual img {
    width: 80%;
}

.index {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 80%;
    margin: 50px auto;
}


.index-title {
    display: block;
    text-align: left;
    margin-left: 195px;
}

.index-text {
    list-style: none;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    margin-left: 195px;
}

.index-text li {
    line-height: 50px;
}

.contents{
    margin-bottom: 120px;
}

.contents-title{
    margin-left: 318px;
    margin-bottom: 10px;
}

.main-contents {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.main-contents img {
    width: 20%;
}


.detail-contents {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
